.root{
    -fx-background-color:#131313;
}

.label{
    -fx-text-fill:white;
}

.button{
    -fx-background-color:#050505;
    -fx-padding: 0 30 0 30;
    -fx-text-fill:white;
    -fx-cursor:hand;
}

.button:hover{
    -fx-background-color:#030303;
}